/* app colors */
$primary: #0d4a6d;
$secondary: #fcfcfcf3;
$light: rgb(241, 240, 240);
$shadow: rgba(129, 129, 129, 0.356);
$dark: rgba(51, 51, 51, 0.767);


/* base/base.scss */
$bgc-page: #f8f8f8;
$fs-page: 1rem;
$ff-page: sans-serif;
$text-color-page: rgb(37, 35, 35);